* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

div {
    min-width: 14%;
    float: left;
    padding: 15px;
}

#techcrunch-logo {
    width: 60px;
    height: 30px;
}

input[type=search] {
    width: 100%;
    border: 0;
}

nav > ul {
    list-style: none;
}

nav > ul > li a,
div a{
    text-decoration: none;
}

#main img {
    width: 100%;
}